<form action="/posts" method="post">

  <label for="">Categories</label>
  <input name="categories" type="text">

  <label for="">Title</label>
  <input name="heading" type="text">


  <label for="">Want</label>
  <input name="want" type="text">

  <label for="">Give</label>
  <input name="give" type="text">

  <label for="">Info</label>
  <textarea name="body" rows="3" cols="40"></textarea>

  <label for="">Image url</label>
  <input name="image" type="text">

  <label for="">avaliablity</label>
  <input name="avaliablity" type="date">

  <button>Create Post</button>
</form>
