<form class="singup-form" action="/session" method="post">
  <input type="hidden" name="_method" value="put">

  <label>First Name</label>
  <input type="text" name="firstname">
  <label>Last Name</label>
  <input type="text" name="lastname">
  <label for="">Email</label>
  <input type="text" name="email">
  <label for="">Password</label>
  <input type="password" name="password">
  <button>Sign Up</button>
</form>
