<section>
  <form action="/form_processor">
  <label>Please Enter the Stock Name: </label>
  <input name="stock" autofocus>
  <!-- <label>how are you?</label>
  <input name="greeting"> -->
  <button name="hey" value="go">GO</button>
  </form>
</section>

<!-- <%= @current_trade %> -->
